.m-like { display:none }

div#moot-logo { display: none !important; }

p {text-align: justify}

p .sidenote {text-align: left}

.copyright a:link {text-decoration: none; cursor: copy}

.sidenote a:link {color: #0000EE}
.sidenote a:hover {color: #000000}
.sidenote a:visited {color: #551A8B}

a.page-link {color: #0000EE;}
a.page-link:hover {color: #000000}
a.page-link:visited {color: #0000EE}
a.page-link:visited:hover {color: #000000}

p a:link {
    color: #0000EE;
}

body {
	background:#f7f7fe url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAUBAMAAAA5EaOUAAAALVBMVEUAAAD8/vzk4vzk6vzs8vzc3vz8+vzs6vz08vz09vzc4vz0+vzk5vzs7vzc2vyOCNAMAAAAAXRSTlMAQObYZgAAAfZJREFUGJUFwc9q2nAAAODfK0TQNqCCgzo3Gm+DFXYq7NYe2i0mGbEQh5luKqRgrBCFCC46TEGhJpEobAdP8w12STqjGUZomH8CKnTgasfsM/T7AG8u/L0BtkERn+YbPVmbTeZwMd91A3573bqYq6kZOmGbOLJqjHVh0oDegmObYOoXBcQeIXsiQitaL80mT1pfweIy9U1kSEvdctOxBjO86dsgQfITqDOlIjPh1J02IfSGvBpzqNO2lzgH/f8+IuVtchIXI/pu3ls9qdJay20D3Dbkj3rSye3WcHh8mftTlbuBQwcCa2HwGrfj8hkqmmW8SDwoXMJ6n6WAsagMpN92Xbm14bYUfxNUYulESK0C6suQu2N59L6MHUwjkZ3aXwgWDPQDYP1Hwo/ZfM82MuEXVg6C+kZp3hb3gaS83Fp09tpv5rFMaOT6NSTTOVRXQDjyU++myzV/VT4WO46+fNbjFJdGgTxuYEdkA5IrCl//x7BFn0sfRN0s8JYgnpJfdUI6lhqgDpssYMpnyabBu1sPLZEHV0/N/faWWLHbcoo5hxf3oJahg6SFWsu50A8MuRLtIInZQ0IDzIaEiJxnq52Osnl5Q5RuVsx6KPJg93mBLQRMPX5DpeGrSnRZ36iiFfWApBHlvutnYUhFY4zevetMETldc8xHPlH3LkYFBtkAAAAASUVORK5CYII=);
}

body {
	background:#f7fdfe url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAUBAMAAAA5EaOUAAAAGFBMVEUAAADk+vz0/vz8/vzk9vzs+vz0+vzc9vwfTN2gAAAAAXRSTlMAQObYZgAAAWNJREFUGJUNzzGOmyEQQGGuwOBf1MASagaNqO2VlXpAhD7WHgAw4frxBd7TJ3Kve8eAfWvkaKdqqrTkuohJW9fbjtazDQsNHQ4JSJTu5w6UY17n4lNyCGeflkQzxpsmewqlNa0ALI+63ixUWWZ7PWED2n/mycopVH+tiCMxAvmv2ywVmzpyEHOyYsmH3W8vAWr77OujG82klXAefqZX1jEU7j3J369uiaSAdkZoSc6AV3z3VCFzlY5ENB5v5PMHGuIY+aCRu+4qzLMRqHKHNLv6RJIkj64/BIw+B4L/0UYNi8j33OLuS8iZSnYYgc8wep0a5zGRjpiJ2vaLiyJ1oclpx7Lp4+gzje/h+2a8h9WPs/m7uMACvjL786scahT08nVWRFJWBBV7uhBHeAVPrzC4FE7lIwcVl4SFcnmsNqt1t0drKTjQ9GcZ8upgC1nP4JK5WNTnNemGzfzhDA3ANDsPzPgfhYd0mbFdffUAAAAASUVORK5CYII=);
}

.indexTitle a:hover {color: #0000EE}

.indexTitle a:visited {color: #551A8B}

h3 {margin-top: 1rem}