---
layout: default
---

<article>

  <h2 itemprop="name" class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ page.title }}</a></h2>

  <div class="post-meta">
    <time datetime="{{ page.date | date_to_long_string }}">{{ page.date | date_to_long_string }}</time>
  </div>

  <section>
    {{content}}
  </section>

  <section>
  	<a class="muut" href="https://muut.com/i/burgessblog/comments" type="dynamic">burgessblog</a> <script src="assets/moot.min.js"></script>
  </section>

    {% include footer.html %}

  </div>
</article>
